<div class="card rounded-0 mx-auto" id="sneaker-card">
  <div class="card-body" id="sneaker-card-body">
    <h3 class="card-title" id="sneaker-title">{{brand}}</h3>
    <h3 class="card-title" id="sneaker-title">{{name}}</h3>
    <p class="card-text" id="buy-text">
      SIZE <span id="sneaker-size">{{size}}</span> <span class= "pipe"> | </span>
      CURRENT BID: <span id="current-bid">${{minimum_bid}}</span><span class= "pipe"> | </span>
      BUY NOW PRICE: <span id="buy-now">${{buy_now}}</span><span class= "pipe"> | </span>
      </p>
    <button type="button" class="btn" id="bid-button">BID</button>
    <button type="button" class="btn" id="buy-now-button">BUY NOW</button>
  </div>
</div>
